.banner
  %h1 What kind of monster are you?

  .col-xs-12.col-sm-6
    = image_tag "american-werewolf.png", alt: "American Werewolf", class: "img-responsive"
    = image_tag "creature-of-the-black-lagoon.png", alt: "Creature of the Black Lagoon", class: "img-responsive"
    = image_tag "attack-of-the-killer-potato.png", alt: "Attack of the Killer Potato", class: "img-responsive"
  .col-xs-12.col-sm-6
    = image_tag "mighty-melt.png", alt: "Mighty Melt", class: "img-responsive"
    = image_tag "carnivore.png", alt: "Carnivore", class: "img-responsive"
    = image_tag "screaming-harpy.png", alt: "Screaming Harpy", class: "img-responsive"

.embed
  .embed-responsive.embed-responsive-16by9
    %iframe{src: "https://youtube.com/embed/28OmlaJcsTs?showinfo=0", allowfullscreen: true}
