- content_for(:description, "What kind of monster are you?")


.container
  %h1 What kind of monster are you?

  .col-xs-12.col-sm-6
    = image_tag "american-werewolf.png", class: "img-responsive"
    = image_tag "creature-of-the-black-lagoon.png", class: "img-responsive"
    = image_tag "attack-of-the-killer-potato.png", class: "img-responsive"
  .col-xs-12.col-sm-6
    = image_tag "mighty-melt.png", class: "img-responsive"
    = image_tag "carnivore.png", class: "img-responsive"
    = image_tag "screaming-harpy.png", class: "img-responsive"

.embed
  .embed-responsive.embed-responsive-16by9
    %iframe{src: "https://youtube.com/embed/UNzDLbw-Smc?showinfo=0", allowfullscreen: true}
