.row
  .menu-image.col-xs-5.col-sm-3.col-sm-offset-1
    = image_tag("american-werewolf.png", alt: "American Werewolf", class: "img-responsive")
  .menu-text.col-xs-7.col-sm-offset-1
    %h1 American Werewolf
    %p American cheese, lettuce, tomato, onion and OC sauce.
.row
  .menu-image.col-xs-5.col-sm-3.col-sm-offset-1
    = image_tag("mighty-melt.png", alt: "Mighty Melt", class: "img-responsive")
  .menu-text.col-xs-7.col-sm-offset-1
    %h1 Mighty Melt
    %p Caramelized cheddar inside our white brioche bun, tempura onion strings, bacon, more cheddar cheese, coleslaw and BBQ sauce.
.row
  .menu-image.col-xs-5.col-sm-3.col-sm-offset-1
    = image_tag("attack-of-the-killer-potato.png", alt: "Attack of the Killer Potato", class: "img-responsive")
  .menu-text.col-xs-7.col-sm-offset-1
    %h1 Attack of the Killer Potato
    %p Hashbrowns, bacon, cheddar, tomato, lettuce, BBQ sauce and Sriracha-Garlic sauce.
.row
  .menu-image.col-xs-5.col-sm-3.col-sm-offset-1
    = image_tag("carnivore.png", alt: "Carnivore", class: "img-responsive")
  .menu-text.col-xs-7.col-sm-offset-1
    %h1 Carnivore
    %p Hand sliced New York Deli Pastrami, Swiss cheese, caramelized onions, OC sauce and Sriracha-Garlic on an angus patty.
.row
  .menu-image.col-xs-5.col-sm-3.col-sm-offset-1
    = image_tag("big-blue-meanie.png", alt: "Big Blue Meanie", class: "img-responsive")
  .menu-text.col-xs-7.col-sm-offset-1
    %h1 Big Blue Meanie
    %small (Catering Only)
    %p Blue cheese, bacon, spinach, ranch, and avocado encrusted in tortilla chips.
.row
  .menu-image.col-xs-5.col-sm-3.col-sm-offset-1
    = image_tag("screaming-harpy.png", alt: "Screaming Harpy", class: "img-responsive")
  .menu-text.col-xs-7.col-sm-offset-1
    %h1 Screaming Harpy
    %small (Catering Only)
    %p Chicken breast marinated in red wine and lemon vinaigrette, goat cheese, spinach, tomato and garlic herb spread.
.row
  .menu-image.col-xs-5.col-sm-3.col-sm-offset-1
    = image_tag("creature-of-the-black-lagoon.png", alt: "Creature of the Black Lagoon", class: "img-responsive")
  .menu-text.col-xs-7.col-sm-offset-1
    %h1 Creature of the Black Lagoon
    %small (Vegetarian)
    %p Balsamic marinated portabello mushroom, sautéed onions, tomato, avocado, spinach and garlic herb spread.
